 
 a:hover{
    text-decoration: none;
}
.marge{
    margin-bottom: 50px;
}

  .btnfoot{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #f1f1f1;
    margin: 6px;
    border-radius: 5px;
    color: #777fff;
    overflow: hidden;
    position: relative;
  }
  
  .btnfoot i{
    line-height: 32px;
    font-size: 18px;
    transition: 0.2s linear;
  }
  
  .btnfoot:hover i{
    transform: scale(1.3);
    color:#f1f1f1;
  }

  .candidatpied:hover{
        color: #e6e6e6;
        border-color: #e6e6e6;
				transition: .2s;

      }
      
			.candidatpied{
        margin-top: 10px;
        text-transform: uppercase;
				background: transparent;
				border:1px solid #777fff; 
				color:#777fff;
				font-size: 17px; 
				margin-bottom: 12px;
        margin-right: 20px;
        margin-left: 30px;
				transition: .2s;
			}
  
  .in:hover{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
  
  .twitter:hover{
  background: #1da1f2;
  }
  
  .facebook:hover{
  background: rgb(59,89,152);
  }
  
  .google:hover{
  background: #d34836;
  }
  
  .in:hover{
  background: #2b3235;
  }
  
  .tube:hover{
  background: #f3231c;
  
  }
  

.titre-autres-page{
    font-family: 'Playfair Display', serif;
    font-size: 6em;
    color: #fff;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}

.hauteur{
    height: 500px;
}

.monBreadcrumb{
  background: #e6e6e6;
  padding: 17px 0px 17px;
}

.contenu-breadcrumb{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.contenu-breadcrumb a{
  color: #370286ab;
  transition: .1s;
}

.contenu-breadcrumb a:hover{
  color: #370286;
  transition: .1s;
}

.un{
    padding-top: 50px;
    background:linear-gradient(#370286a1,rgba(255, 255, 255, 0.747),rgb(255, 255, 255)), url('../img/back.jpg') center center no-repeat;
    background-size: cover;
}

.une{
  padding-top: 50px;
  background:linear-gradient(#e6e6e6,rgba(255, 255, 255, 0.747),rgba(255, 255, 255, 0.534),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.281),rgba(255, 255, 255, 0.993)), url('../img/back.jpg') center center no-repeat;
  background-size: cover;
}

.titre{
    font-family: 'Playfair Display', serif;
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 50px;

}

.titre-hexa{
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: #370286;
  transition: .2s;
}

.titre-hexa:hover{
  color: #1b1f2a;
  transition: .2s;
}

.titre-petit{
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 10px;

}

.explain{
    color: #4c5258 !important;
    font-size: 20px;
    line-height: 1.9em;
    text-align: center;
    padding: 0px 100px 0px;
}

.explain-hexa{
  color: #4c5258 !important;
  font-size: 17px;
  line-height: 1.9em;
}

.pad-right{
  padding-right: 40px;
}

.pad-left{
  padding-left: 40px;
}


.azerty {
    margin: auto;
    width: 60px;
    position: relative;
    display: block;
    text-align: center;
}

.azerty:before, .azerty:after {
    content: '';
    width: 120px;
    transform: translateY( 7px );
    height: 1px;
    background: #ccc;
    position: absolute;
}

.azerty:before {
    right: 100%;  
}
.azerty:after {
    left: 100%;  
}


.querty {
  width: 40px;
  position: relative;
  display: block;
}

 .querty:after {
  content: '';
  width: 120px;
  transform: translateY( 7px );
  height: 1px;
  background: #ccc;
  position: absolute;
}

.querty:after {
  left: 100%;  
}


.btn1{
    border-radius: 0px;
    padding: 16px 24px;
    border: 2px solid #370286;
    font-size: 20px;
    color: #370286;
    box-shadow: 5px 3px 3px rgba(0,0,0,0.1), 10px 7px 7px rgba(0,0,0,0.19);
    transition: .3s;
    background: #fff;

}

.btn1:hover{
    color: #777fff;
    border: 2px solid #777fff;
    box-shadow: none;
    transition: .3s;
}

.deux{
    padding-top: 100px;
    background:linear-gradient(rgba(255, 255, 255, 0.993),rgba(255, 255, 255, 0.753), rgba(255, 255, 255, 0.37),rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.993)), url('../img/left1.png') top left  no-repeat;
    background-size: contain;
}

.trois{
  padding-top: 100px;
    padding-bottom: 100px;
    background:linear-gradient(rgba(255, 255, 255, 0.993),rgba(255, 255, 255, 0.753), rgba(255, 255, 255, 0.37),rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.993)), url('../img/right.png') bottom right  no-repeat;
    background-size: contain;
}

/*LA PISCINE*/



#center{
    display: flex; 
    align-content: center;
     align-items: center;
     margin: auto;
}

.hr-simple{
    background: #e6e6e6;
    height: .1px;
    width: 33%;
}

.quatre{
    margin-top: 100px;
}


.cardsimple{
  margin-top: 10px;
  border-radius: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px;
}

.cardsimple:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.cardsimple h3{
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.cardsimple p{
  font-family: 'Roboto', sans-serif;
  color: #4c5258;
}

@media(max-width: 990px){
.cardsimple{
  margin: 20px;
}
} 

#piscine-deux{
  height: 500px;
}


/*-------------------------------

  FOOTER 
-------------------------------------*/

#footer {
  background: url('../img/fond.jpg') center center;
  background-size: contain;
    padding: 0 0 10px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #1b1f2a;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #777fff;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Josefin", sans-serif;
    color: #eee;
  }
  
  #footer .footer-top h4 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
  
  #footer .footer-top h4::before, #footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
  }
  
  #footer .footer-top h4::before {
    right: 0;
    background: #555;
  }
  
  #footer .footer-top h4::after {
    background: #777fff;
    width: 60px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
  }
  
  #footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #eee;
    font-size: 16px;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #777fff;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
    font-size: 16px;

  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #777fff;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #13a456;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
    font-size: 17px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 15px;
  }
  
  #footer .credits a {
      color: #777fff;
  }
 



  /*-------------------------------

  PISCINE.html

-------------------------------------*/

.un-piscine{
    background: url('../img/stars.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}




.bg-portfolio{
  background: url('../img/portfolio.jpg')top left no-repeat;
  background-size: cover;
}

.bg-portfolio-reverse{
  background: url('../img/portfolio-reverse.jpg')bottom right no-repeat;
  background-size: cover;
}
.toTop {
  display: none;
  text-decoration: none;
  z-index: 600;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(33, 33, 33, 0.6);
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding-top: 8px;

}
.toTop:hover,
.toTop:focus {
  color: #fff;
}
.toTop {
  bottom: 15px;
  right: 15px;
}

