.middle{
    text-align: center;
    padding-top: 7px;
}

.flotte-r{
  float: right;
}

.mar-r{
  margin-right: 2%;
}

a.tube{
  padding-left: 7px !important;
}

.btnfoot{
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #f1f1f1;
  margin: 3px;
  border-radius: 30%;
  color: #777fff;
  overflow: hidden;
  position: relative;
  padding-right: 8px;
}

.btnfoot i{
  line-height: 32px;
  font-size: 18px;
  transition: 0.2s linear;
}

.btnfoot:hover i{
  transform: scale(1.3);
  color:#f1f1f1;
}

.insta:hover{
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.twitter:hover{
background: #1da1f2;
}

.facebook:hover{
background: rgb(59,89,152);
}

.google:hover{
background: #d34836;
}

.in:hover{
background: #0e76a8;
}

.tube:hover{
background: #f3231c;

}